In [1]:
import pandas as pd 
import numpy as np

In [4]:
df=pd.read_csv('IMDBcleaned.csv')

In [6]:
df.head(5)

,name,country,year,director,cast,rating,genre,rating_count,duration,description
0,The Shawshank Redemption,United States,1994,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton",9.3,Drama,2949951,142,A banker convicted of uxoricide forms a friend...
1,The Godfather,United States,1972,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",9.2,"Crime, Drama",2056341,175,The aging patriarch of an organized crime dyna...
2,The Dark Knight,United States,2008,Christopher Nolan,"Jonathan Nolan, Christopher Nolan, David S. Goyer",9.0,"Action, Crime, Drama",2925228,152,When a menace known as the Joker wreaks havoc ...
3,The Godfather Part II,United States,1974,Francis Ford Coppola,"Francis Ford Coppola, Mario Puzo",9.0,"Crime, Drama",1389782,202,The early life and career of Vito Corleone in ...
4,12 Angry Men,United States,1957,Sidney Lumet,Reginald Rose,9.0,"Crime, Drama",887543,96,The jury in a New York City murder trial is fr...

In [7]:
print ('Rows     : ', df.shape[0])
print ('Columns  : ', df.shape[1])
print ('\nFeatures : ', df.columns.tolist())
print ('\nMissing values :  ', df.isnull().sum().values.sum())
print ('\nUnique values :  \n', df.nunique())

Rows     :  250
Columns  :  10

Features :  ['name', 'country', 'year', 'director', 'cast', 'rating', 'genre', 'rating_count', 'duration', 'description']

Missing values :   0

Unique values :
 name            250
country          23
year             87
director        154
cast            241
rating           13
genre           103
rating_count    250
duration        101
description     250
dtype: int64

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
year,250.0,1987.6800,25.562303,1921.0,1968.75,1995.0,2008.0,2024.0
rating,250.0,8.3092,0.233438,8.0,8.10,8.2,8.4,9.3
rating_count,250.0,709461.3880,571781.902456,44440.0,234959.50,576301.5,1043863.5,2949951.0
duration,250.0,130.8560,32.186007,45.0,109.25,128.0,147.0,321.0

In [11]:
df = df[['name','director','cast','description','genre']]
df.index = list(range(1,251))
df.head(5)

,name,director,cast,description,genre
1,The Shawshank Redemption,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton",A banker convicted of uxoricide forms a friend...,Drama
2,The Godfather,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",The aging patriarch of an organized crime dyna...,"Crime, Drama"
3,The Dark Knight,Christopher Nolan,"Jonathan Nolan, Christopher Nolan, David S. Goyer",When a menace known as the Joker wreaks havoc ...,"Action, Crime, Drama"
4,The Godfather Part II,Francis Ford Coppola,"Francis Ford Coppola, Mario Puzo",The early life and career of Vito Corleone in ...,"Crime, Drama"
5,12 Angry Men,Sidney Lumet,Reginald Rose,The jury in a New York City murder trial is fr...,"Crime, Drama"

In [12]:
df.to_csv('IMDBfeatures.csv', index=False)